body {
    text-align: center;
    opacity: 1;
    transition: 3s opacity;
    font-family: "PT Sans", sans-serif; 
    font-size: 100%;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #fff; /*White*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.8s; /* 0.5 second transition effect to slide in the sidenav */
    border-right: 1px solid #999;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    display: block;
    transition: 0.3s;
    text-align: left;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

header[role="banner"] {
	/*border-bottom: 4px solid;*/
    max-width: 70%;
    margin: auto;
}

.wrapper {
	margin: 60px auto;
	max-width: 740px;
}

#circle {
      width: 100px;
      height: 100px;
      -webkit-border-radius: 55px;
      -moz-border-radius: 55px;
      border-radius: 55px;
      background: #fff;
      border: 2px solid #000;
      margin: 10px auto;
}

h1.title {
    font-weight: 400;
    font-size: 2.3rem;
    letter-spacing: .1px;
    text-align: center;
    margin: 23px 0 0 0;
    color: #222;
}

nav.info {
    margin: 20px 0;
    font-weight: 400;
}

nav.info a:first-child {
    padding-right: 10px;
}

nav.info a {
    color: #4c4c4c;
    font-size: .9rem;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    text-align: center;
}

p.timestamp {
    color: #999;
    text-align: center;
    font-weight: 300!important;
    font-size: .8rem!important;
    margin-bottom: 10px;
}

.main {
	margin-top: 10px;
}

.main p {
	font-weight: 400;
	font-size: .985rem;
	line-height: 1.6;
	text-align: left;
}

.main p a {
	color: #569cbe;
	text-decoration: none;
}

header[role="banner"]:after {
    display: block;
    content: "";
    width: 200px;
    height: 1px;
    margin: 2rem auto;
    background-color: #eee;
}

.post p {
    font-weight: 400;
    font-size: .985rem;
    line-height: 1.6;
}

aside.related {
  text-align: left;
  font-size: 1rem;
  margin-top: 50px;
  background-color: rgba(236, 236, 236, 0.28);
  padding: 15px 0 10px 15px;
  border-left: 4px solid #555;
}

aside.related h2 {
  font-size: 1rem;
  text-align: left;
  font-weight: 400;
}

aside.related ul.related-posts h3 {
  font-size: .95rem;
  font-weight: 300;
}

aside.related ul.related-posts {
  list-style-type: none;
  font-weight: 300;
  margin-left: 0;
  padding-left: 0;
}

aside.related ul li {
  font-weight: 300;
  list-style-type: none;
}

aside.related ul li h3 a {
  color: #999;
  border-bottom: 1px dashed #999;
}

aside.related ul li h3 a:hover {
  color: #666;
}

.footer {
    clear: both;
    padding-top: 10px;
    font-weight: 400;
}

.footer p {
	text-align: center;
}

.footer p:first-child {
    font-size: .85rem!important;
}

a {text-decoration: none;
   color: #333;}

.post {
    padding-top: 30px;
}

.entry {
    text-align: left;
    margin-bottom: 60px;
}

.entry a {
	color: #569cbe;
	text-decoration: none;
}

.pagination {
    margin: 0 auto 40px auto;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    font-size: .85rem;
    font-weight: 400;
}

.pagination ul {
    padding: 0;
    margin: 0;
}

.pagination ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.older {
    float: left;
}

.newer {
    float: right;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 1080px) {

    html, body {
      margin: 0;
      padding: 0;
    }

    .wrapper {
      width: 90%;
      padding: 0 20px;
      margin: 60px auto;
    }

    header[role="banner"] {
	/*border-bottom: 4px solid;*/
    max-width: 100%;
    margin: auto;
	}

    h1.title {
    font-size: 2.3rem;
	}
    
}
