*,
*:before,
*:after {
    box-sizing: inherit;
}

html, body {
    font: 400 15px "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #231f20;
    margin: 0;
    padding: 0;
}

header.top {
    text-align: right;
    margin: 20px 40px 40px 0;
}

nav.tmenu {
	margin: 40px 0 20px 0;
	text-align: center;
	vertical-align: baseline;
	overflow: hidden;
}

nav.tmenu a {
	display: inline-block;
	font-size: 17px;
	text-transform: lowercase;
}

nav.tmenu a:first-child {
	margin-right: 20px;
}

nav.tmenu .icon {
	display: none;
}
	

.hero {
	margin: 70px 0 30px 0;
}

.hero > p {
	text-align: center;
}

img.profile {
   max-width: 155px;
   max-height: 155px;
   border-radius: 50%;
   display: block;
   margin: 0 auto;
}

p.desc {
	font-size: 21px;
	font-weight: 300;
	color: rgba(128, 128, 128, 0.85);
}

#poster {
    font-size: 1.4rem;
    font-weight: 300;
    color: #666;
    line-height: 2.5rem;
}

#poster a {
	text-decoration: none;
	color: #4da6ff;
}

p.lead {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	line-height: 17px;
	margin-bottom: 0;
}

.navigation {
 	text-align: right;
    	padding-top: 25px;	
}

.navigation nav a:first-child {
	margin-left: 0;
}

.navigation nav a {
	font-weight: 400;
	margin-left: 12px;
}

.navigation .icon {
	display: none;
}

nav.menu {
	float: left;
}

nav.social {
	float: right;
}

nav.menu a, nav.social a {
	padding-right: 10px;
	font-size: 14px;
}

.wrapper {
	max-width: 740px;
	line-height: 1.7rem;
	margin: 0 auto;
	overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

h1.title {
    font-weight: 400;
    font-size: 30px;
    color: #222;
    float: left;
}

h1.title a {
	text-decoration: none;
}
	

nav.info {
    margin: 20px 0;
    font-weight: 400;
    display: none;
}

nav.info a:first-child {
    padding-right: 10px;
}

nav.info a {
    color: #4c4c4c;
    font-size: 15px;
}

h2 {
    font-weight: 700; 
    font-size: 29px; 
    margin-bottom: 40px;
    text-align: center;
}

h3 {
    font-weight: 600;
    font-size: 26px;
}

p.timestamp {
    color: rgba(102, 102, 102, 0.66);
    font-weight: 400!important;
    font-size: 13px!important;
    margin-bottom: 30px;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
}

.main {
	padding-top: 30px;
}

.main p {
	font-weight: 400;
	font-size: 15px;
	text-align: justify;
}

.main p a {
	color: #569cbe;
	text-decoration: none;
}

.content p a {
	color: #0084bf;
	text-decoration: none;
}

p.img {
	text-align: center;
}

.MathJax {
	font-size: 14px !important;
}

.post p, ul, ol {
}

#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
    margin-left: -20px;
}

#markdown-toc ul {
}

#markdown-toc {
    border: none;
    padding: 15px 30px;
    /* list-style: decimal; */
    display: inline-block;
    background-color: rgba(236, 236, 236, 0.28);
}

aside.related {
  text-align: left;
  font-size: 14px;
  margin: 50px 0 30px 0;
  background-color: rgba(236, 236, 236, 0.28);
  padding: 15px 0 10px 15px;
  border-left: 4px solid #555;
}

aside.related h2 {
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}

aside.related ul.related-posts h3 {
  font-size: 13px;
  font-weight: 400;
}

aside.related ul.related-posts {
  list-style-type: none;
  font-weight: 400;
  margin-left: 0;
  padding-left: 0;
}

aside.related ul li {
  font-weight: 400;
  list-style-type: none;
}

aside.related ul li h3 a {
  color: #999;
  border-bottom: 1px dashed #999;
}

aside.related ul li h3 a:hover {
  color: #666;
}

.footer {
    clear: both;
    font-weight: 400; 
    font-size: 15px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.footer p {
	text-align: center;
}

.footer p:first-child {
    font-size: 13px!important;
}

a {text-decoration: none;
   color: #666;}

.post {
    
}

.content {
    
}

.entry {
    text-align: left;
    margin-bottom: 60px;
}

.entry:after {
    display: block;
    content: "";
    max-width: 100%;
    height: 1px;
    margin: 50px auto 0 auto;
    background-color: #eee;
}

.entry h2 a {
	color: #3b3b3b;
	text-decoration: none
}

.entry a {
	color: #569cbe;
	text-decoration: none;
}

.paginate {
    margin: 0 auto;
    /*border-bottom: 1px solid #eee;*/
    padding-bottom: 5px;
    font-weight: 400;
}

.paginate ul {
    font-size: 13px; 
    padding: 0;
    margin: 0;
}

.paginate ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.older {
    float: left;
}

.newer {
    float: right;
}

.paginate:after {
  content: "";
  display: table;
  clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

.overflow img {
    max-width: 200%;
    height: auto;
    margin-left: -50%;
    margin-bottom: 40px;
    margin-top: 20px;
}

@media only screen and (max-width: 949px) {

body {
    margin: 0 20px;
    padding: 0 20px;
    font-size: 17px;
    overflow-x: hidden;
    }
	
header.top {
    }

nav.tmenu a {display: none;}

nav.tmenu a.icon {
    display: block;
	}
	
nav.tmenu.responsive {position: relative;}
  
nav.tmenu.responsive a.icon {
    margin: 0 auto;
  }
	
  nav.tmenu.responsive a {
    text-align: center;
    display: block;
    padding-top: 7px;  
  }

h1.title, .navigation nav a {
	font-weight: 400;
}
	
h1.title {
     
	}
	
.navigation nav a {
	display: none;
	}
	
.navigation nav a:first-child {
	margin-right: 0!important;
}

.navigation a.icon {
    float: right;
    display: block;
    margin-top: 3px;
  }
	
.navigation.responsive {
	position: relative;
	}
	
.navigation.responsive nav {
	margin-top: 60px;
	}
	
  .navigation.responsive a.icon {
  }
	
  .navigation.responsive nav a {
    float: none;
    display: block;
    text-align: center;
    margin: 30px 0 0 0;
    padding: 8px 0;
    border-bottom: 1px solid #efefef;
  }
	
.navigation.responsive nav a:first-child {
	margin-top: 30px;
	}
	
.wrapper {
     max-width: 100%;
    }
	
.content {
    
}

.overflow {
}
	
.overflow img {
    width: 112%!important;
    height: auto;
    margin-left: -6%;
}
	   
}
