body {
    opacity: 1;
    transition: 2s opacity;
    font: 400 16px/1.5566 'Lora', serif;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

header.top {
    /*max-width: 70%;*/
    text-align: center;
    margin-top: 100px;
    border-bottom: 1px solid #efefef;
}

p.lead {
	font-size: 17px;
	font-weight: 300;
	color: #333;
	line-height: 23px;
}

.navigation {
	font: 400 17px 'Lato', sans-serif; 
	margin-bottom: 20px;
	
}

.navigation nav a:first-child {
	padding-right: 15px;
}

.navigation nav a {
	font-weight: 400;
}

nav.menu {
	float: left;
}

nav.social {
	float: right;
}

nav.menu a, nav.social a {
	padding-right: 10px;
	font-size: 14px;
}


.fa {
	color: #555;
	-webkit-transition: 0.3s ease-in;
  	-moz-transition: 0.3s ease-in;
  	-ms-transition: 0.3s ease-in;
  	transition: 0.3s ease-in;     
}

a:hover .fa {
	color: #000 !important;
}

.wrapper {
	max-width: 640px;
	line-height: 25px;
	margin: 0 auto;
}

h1.title {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 37px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    color: #222;
    padding-bottom: 13px;
}

h1.title a {
	text-decoration: none;
}
	

nav.info {
    margin: 20px 0;
    font-weight: 400;
    display: none;
}

nav.info a:first-child {
    padding-right: 10px;
}

nav.info a {
    color: #4c4c4c;
    font-size: 15px;
}

h2 {
    font: 700 35px/1.156 'Lato', sans-serif;	
    margin-top: 0;
    margin-bottom: 0;
}

p.timestamp {
    color: #999;
    font-weight: 300!important;
    font-size: 13px!important;
    margin-bottom: 10px;
}

.main {
	padding-top: 30px;
}

.main p {
	font-weight: 400;
	font-size: 15px;
	text-align: justify;
}

.main p a {
	color: #569cbe;
	text-decoration: none;
}

p.img {
	text-align: center;
}

.MathJax {
	font-size: 14px !important;
}

header.top:after {
    display: block;
    content: "";
    max-width: 640px;
    height: 1px;
    margin: 2rem 0;
    background-color: #eee;
    clear: both;
    display: none;
}

.post p, ul, ol {
}

aside.related {
  text-align: left;
  font-size: 14px;
  margin: 50px 0 30px 0;
  background-color: rgba(236, 236, 236, 0.28);
  padding: 15px 0 10px 15px;
  border-left: 4px solid #555;
}

aside.related h2 {
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}

aside.related ul.related-posts h3 {
  font-size: 13px;
  font-weight: 400;
}

aside.related ul.related-posts {
  list-style-type: none;
  font-weight: 400;
  margin-left: 0;
  padding-left: 0;
}

aside.related ul li {
  font-weight: 400;
  list-style-type: none;
}

aside.related ul li h3 a {
  color: #999;
  border-bottom: 1px dashed #999;
}

aside.related ul li h3 a:hover {
  color: #666;
}

.footer {
    clear: both;
    font: 400 15px 'Lato', sans-serif;
    margin-bottom: 60px;
    margin-top: 60px;
}

.footer p {
	text-align: center;
}

.footer p:first-child {
    font-size: 13px!important;
}

a {text-decoration: none;
   color: #333;}

.post {
    padding-top: 30px;
}

.content {
    padding-top: 50px;
}

.entry {
    text-align: left;
    margin-bottom: 60px;
}

.entry h2 a {
	color: #3b3b3b;
	text-decoration: none
}

.entry a {
	color: #569cbe;
	text-decoration: none;
}

.pagination {
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.pagination ul {
    font-size: 13px; 
    padding: 0;
    margin: 0;
}

.pagination ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.older {
    float: left;
}

.newer {
    float: right;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

img.profile {
   max-width: 150px;
   max-height: 150px;
   border-radius: 50%;
   margin: 0 auto 30px auto;
   display: block;
}

.overflow img {
    max-width: 200%;
    height: auto;
    margin-left: -50%;
    margin-bottom: 40px;
    margin-top: 20px;
}

@media only screen and (max-width: 949px) {

html, body {
    margin: 0;
    padding: 0;
    }
	
header.top {
    position: relative;
    padding: 20px 0 0 20px;
    }

h1.title, .navigation nav a {
	font-weight: 400;
}
	
h1.title {
     line-height: 1.185;
	}

.wrapper {
     padding: 0;
     margin: 0 auto;
     border: 0;
     max-width: 90%;
    }
	
.content {
     padding-top: 60px;
     width: auto;
}

header[role="banner"] {
    max-width: 100%;
    margin: auto;
}

.overflow {
    
}
	
.overflow img {
    width: 112%!important;
    height: auto;
    margin-left: -6%;
}
	   
}
