---
title: Home
layout: default
---

<div class="post group">
		{% for post in paginator.posts limit:4 %}
		<article class="entry">
			<header>
				<h2><a href="{{ post.url }}"> {{ post.title }} </a></h2>
				<p class="timestamp">{{ post.date | date_to_long_string }}</p>
			</header>		
				{% if post.content contains '<!--more-->' %}
	
					{{ post.content | split:'<!--more-->' | first }}
	
					<p><a href="{{ post.url }}">Continue reading...</a></p>

				{% else %}

					{{ post.content }}
	
				{% endif %}
			</article>
		{% endfor %}
</div>

<div class="pagination group">
		<ul>
			{% if paginator.next_page %}
    				<li class="older"><a href="{{ paginator.next_page_path }}" title="Older"><span class="fa fa-chevron-left"></span>&nbsp;&nbsp;<span class="older-entries">older</span></a></li>
    			{% else %}
    				<li class="older"><span style="color: #999!important">older</span></li>
    			{% endif %}
    		{% if paginator.previous_page %}
    				<li class="newer"><a href="{{ paginator.previous_page_path }}" title="Newer"><span class="newer-entries">newer</span>&nbsp;&nbsp;<span class="fa fa-chevron-right"></span></a></li>
    			{% else %}
    				<li class="newer"><span style="color: #999!important">newer</span></li>
    		{% endif %}
		</ul>
</div>

